.App {
  text-align: center;
}
h1 {
    font-size: 4rem;
    line-height: 1;
}
p {
    font-size: 1.5rem;
    line-height: 1;
}
body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #232322;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
}

.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content {
    text-align: center;
    margin: 0 100px;
}
.layer1 {
    background-image: url('./images/waves.svg');
    display: block;
}
.layer2 {
    background-image: url('./images/wave.svg');
    display: block;
}
.flip {
    transform: rotate(180deg);
}
.project {
    width: 800px;
    height: 480px;
    border-radius: 5px;
    line-height: 1;
}